*{
    margin: 0;
    padding:0 15px;
}
.navbar{
    border: 1px solid red;
    width: 100%;
    height: 100px;
    padding: 12px 300px;
}
.logo{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    display: inline-block;
}
.nav-link {
    list-style: none;
    display: inline-block;
    margin-left:600px;
}
.nav-link li{
    display: inline-block;
    margin:0 15px;
}
.nav-link li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 0
}   